html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

/* header contents */
.header {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  padding: 30px;
}

.header-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 120px;

  padding: 0 20px;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;

  flex-shrink: 0;
}

.header-link,
p {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

ol {
  display: flex;
  margin: 0;
  padding: 0;

  gap: 30px;
}

li {
  list-style-type: none;
}

.header-bottom {
  display: flex;
  justify-content: center;
  gap: 220px;
}

h2 {
  /* this website is awesome */
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.header-bottomleft {
  display: flex;
  flex-direction: column;

  max-width: 500px;
  flex: 1;
}

button {
  max-width: 120px;
  background-color: #3382f6;
  color: white;

  text-decoration: none;
  text-align: center;

  outline: none;
  border-radius: 10px;
  border-color: rgb(157, 157, 157);
  padding: 10px 20px;
}

.header-bottomright {
  align-self: flex-end;

  max-width: 500px;
}

img {
  height: 400px;
  width: 500px;
}

/* random information contents */
.random-information {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 120px;
}

.title {
  font-size: 36px;
  color: #1f2937;
  font-weight: bold;

  margin: 40px;
}

.sections {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.center-block {
  max-width: 200px;
}

.center-image {
  height: 200px;
  width: 200px;
}

.center-text {
  text-align: center;
}

/* quote contents */
.quote {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  height: 500px;
  background-color: #e5e7eb;

  padding: 200px;
  margin-bottom: 60px;
}

em {
  font-size: 36px;
  font-weight: lighter;
}

.main-quote,
.end-quote {
  width: 950px;
}

.end-quote {
  display: flex;
  justify-content: flex-end;

  margin-left: -50px;
  font-weight: 900;
  font-size: 25px;
}

.sign-up {
  display: flex;

  background-color: rgb(86, 110, 153);
  width: 900px;
  height: 150px;
  margin-bottom: 60px;

  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.sign-up-message {
  display: flex;
  flex-direction: column;
  color: white;
}

.sign-up-halves {
  display: flex;
  gap: 100px;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 200px;
}
