html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  padding: 30px;

}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;

  
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;

  flex-shrink: 0;
  margin-right: 10px;
}

.header-link , p{
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

ol {
  display: flex;
  margin: 0;
  padding: 0;
  
  gap: 30px;
}

li {
  list-style-type: none;
}

.header-bottom{
    display: flex;

    padding: 20px;
    align-items: center;
}

h2{ /* this website is awesome */
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}
    
.header-bottomleft {
    display: flex;
    flex-direction: column;
    
    flex-grow: 1;  
}

button{
    max-width: 120px;
    background-color: #3382f6;
    color: white;

    text-decoration: none;
    text-align: center;

    outline: none;
    border-radius: 10px;
    padding: 10px 20px;  
}

.header-bottomright{
    align-self: center;
    flex:1;
}

img {
   height: 400px;
   width: 400px;
}

.random-information{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 100px;
}

.title{
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;

    margin: 40px;
}

.sections{
    display: flex;
    justify-content: center;
    gap: 52px

}

.center-block{
    max-width: 200px;
    
}

.center-image{
    height: 200px;
    width: 200px;
}

.center-text{
    text-align: center;
}


